<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
          http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <servers>
        <server>
            <id>gym-microservices-releases</id>
            <username>jdColonia</username>
            <password>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</password>
        </server>
        <server>
            <id>gym-microservices-snapshots</id>
            <username>jdColonia</username>
            <password>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</password>
        </server>
    </servers>

</settings>
